<ion-content class="ion-padding">
  <div class="welcome-header">
    <h1>Selecciona una opción</h1>
  </div>

  <!-- Card 1 -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Cliente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p (click)="irCliente()">Buscar un arriendo para arrendar</p>
    </ion-card-content>
  </ion-card>

  <!-- Card 2 -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Dueño estacionamiento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p (click)="irDueno()">Poner en arriendo mi estacionamiento</p>
    </ion-card-content>
  </ion-card>
</ion-content>
