ion-header{
    --background: black;
    ion-toolbar{
        --background: black;
        color: white;
        padding: 20px 0;

        ion-back-button{
            color: white;
        }
    }
}

ion-content{
    h3{
        text-align: center;
        margin-top: 30px;
    }

    .boton{
        padding: 20px;
        border-radius: 10px;
        color: black;
    }

    .boton-1{
        padding: 20px;
        border-radius: 10px;
        width: 50px;
        color: black
    }
}

.card-1{
    margin-top: 50px
}

ion-card {
    cursor: pointer; // Cambia el cursor al hacer hover sobre la tarjeta
    transition: border 0.3s; // Agrega una transición suave al borde
  
    &.selected {
      border: 2px solid green; // Establece el borde verde para la tarjeta seleccionada
    }
  
    &:hover {
      border: 2px solid #007bff; // Establece el borde azul al hacer hover sobre la tarjeta
    }
  }