.custom-title {
    
    color: #3498db;
}


.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


