
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="divider-row">
        <hr class="divider-line">
        <h1>Tarjeta de credito</h1>
        <hr class="divider-line">
      </div>
      <ion-item>
        <ion-label position="stacked">Nombre del propietario</ion-label>
        <ion-input [(ngModel)]="nombrePropietario" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Número de tarjeta</ion-label>
        <ion-input [(ngModel)]="numeroTarjeta" (ionInput)="formatoNumeroTarjeta()" [disabled]="numeroTarjeta.length === 19"></ion-input>
      </ion-item>
      

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Fecha de expiración</ion-label>
            <ion-input [(ngModel)]="fechaExpiracion" (ionInput)="formatoFechaExpiracion($event)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">CVV</ion-label>
            <ion-input [(ngModel)]="cvv" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-button expand="full" class="boton">Agregar tarjeta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
